.root {
	color: var(--text-primary);
}
.color-primary {
	color: var(--text-primary);
}

.color-secondary {
	color: var(--text-secondary);
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

// Sizes
.size-xs {
	font-size: var(--font-size-xs);
}
.size-sm {
	font-size: var(--font-size-sm);
}
.size-md {
	font-size: var(--font-size-md);
}
.size-base {
	font-size: var(--font-size-base);
}
.size-lg {
	font-size: var(--font-size-lg);
}
.size-xl {
	font-size: var(--font-size-xl);
}
.size-2xl {
	font-size: var(--font-size-2xl);
}
.size-3xl {
	font-size: var(--font-size-3xl);
}
.size-4xl {
	font-size: var(--font-size-4xl);
}
.size-5xl {
	font-size: var(--font-size-5xl);
}
.size-6xl {
	font-size: var(--font-size-6xl);
}

// Weights
.weight-regular {
	font-weight: var(--font-weight-regular);
}
.weight-medium {
	font-weight: var(--font-weight-medium);
}
.weight-semibold {
	font-weight: var(--font-weight-semibold);
}
.weight-bold {
	font-weight: var(--font-weight-bold);
}
.weight-extrabold {
	font-weight: var(--font-weight-extrabold);
}
